@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource/monaspace-neon/latin.css';

@custom-variant dark (&:is(.dark *));

:root {
  --sans: 'Monaspace Neon', monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--color-neutral-800);
  color: var(--color-neutral-100);
}
