@import 'tailwindcss';
@import '@fontsource/monaspace-neon/latin.css';
@import "@heroui/styles";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Monaspace Neon', monospace;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  --radius: 0.2rem;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

h1, h2, p {
  margin: 0;
}
